# Ignore node_modules in all directories
node_modules/

# Ignore .env files in all directories
*.env

# Exclude other sensitive files or directories
YT-Twitter/Backend/node_modules/
YT-Twitter/Backend/*.env
YT-Twitter/Frontend/node_modules/
YT-Twitter/Frontend/*.env
